.container {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xl);
}

.content {
  max-width: 1196px;
  width: 100%;
}

.flexRow {
  display: flex;
  gap: 10px;
}

.authorContainer {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.regularParagraphContainer,
.lastParagraphContainer {
  max-width: 954px;
  margin: 0 auto;
}

.content > div:not(:last-child) {
  margin-bottom: var(--spacing-lg);
}

/* Need to Update the Resp on this page */

@media (max-width: 1024px) {
  .content {
    max-width: 80%;
  }

  .highlightedParagraph {
    font-size: 18px;
  }

  .authorContainer {
    font-size: 10px;
  }

  .regularParagraph,
  .lastParagraph {
    font-size: 14px;
  }

  .regularParagraphContainer,
  .lastParagraphContainer {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 30px;
  }

  .content > div:not(:last-child) {
    margin-bottom: var(--spacing-md);
  }

  .authorContainer,
  .regularParagraph,
  .lastParagraph {
    font-size: 8px;
  }

  .highlightedParagraph {
    font-size: 10px;
  }

  .flexRow {
    font-size: 20px;
  }
}
