.cardSection {
  display: flex;
  flex-direction: column;
  max-width: 1196px;
  margin: auto;
  margin-top: var(--spacing-xxl);
}

.sectionTitle {
  font-size: var(--font-size-heading-medium);
  margin-bottom: var(--spacing-md);
}

.cardGrid {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-sm);
}

.card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 479px;
}

.largeCard {
  grid-column: span 2;
}

.smallCard {
  grid-column: span 1;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 225px;
}

.titleSubtitle h3 {
  margin-top: var(--spacing-sm);
}

.descriptionContainer,
.buttonContainer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0;
  transition:
    opacity 0.4s ease-in-out,
    max-height 0.4s ease-in-out,
    margin-top 0.4s ease-in-out;
}

.card:hover .descriptionContainer,
.card:hover .buttonContainer {
  opacity: 1;
  max-height: 200px;
  margin-top: var(--spacing-md);
}

.button {
  width: 225px;
  height: 60px;
  background-color: var(--color-background);
  box-sizing: border-box;
  border: 1px solid black;
  color: black;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-accent);
  border: none;
}

.largeCard .cardContent {
  max-width: 500px;
}

/* Responsive adjustments */
@media (max-width: 1440px) {
  .cardGrid {
    grid-template-columns: auto;
  }
  .cardSection {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 18px;
  }

  .cardSection {
    max-width: 90%;
  }

  .cardGrid {
    grid-template-columns: auto;
    gap: 10px;
  }

  .card {
    height: 200px;
  }

  .cardContent {
    max-width: 140px;
  }

  .card:hover .descriptionContainer,
  .card:hover .buttonContainer {
    opacity: 1;
    max-height: 200px;
    margin-top: 10px;
  }

  .titleSubtitle h2 {
    font-size: 12px;
  }

  .titleSubtitle h3 {
    font-size: 16px;
    margin-top: 0;
  }

  .cardDescription {
    font-size: 8px;
  }

  .button {
    height: 40px;
    width: 140px;
  }

  .buttonContainer {
    margin-top: 5px;
    font-size: 12px;
  }
}
