:root {
  --color-primary: #171717;
  --color-secondary: #4c4c49;
  --color-accent: #ff5959;
  --color-background: #f3f2ef;

  --spacing-xxl: 120px;
  --spacing-xl: 80px;
  --spacing-lg: 60px;
  --spacing-md: 40px;
  --spacing-sm: 20px;

  --font-family: 'Inter', sans-serif;

  --font-size-heading-large: 32px;
  --font-size-heading-medium: 32px;
  --font-size-heading-small: 24px;
  --font-size-text-large: 20px;
  --font-size-text-small: 16px;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

.heading-large {
  font-weight: 700;
  font-size: 48px;
}

.heading-medium {
  font-weight: 400;
  font-size: 32px;
}

.heading-small {
  font-weight: 600;
  font-size: 24px;
}

.text-large {
  font-weight: 400;
  font-size: 20px;
}

.text-small {
  font-weight: 400;
  font-size: 16px;
}
