/* Global resets */
* {
  padding: 0;
  margin: 0;
}

/* Typography */
.heading-large {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
}

.heading-medium {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
}

.heading-small {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
}

.text-large {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
}

.text-small {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
}
