.header {
  height: 100px;
  background-color: #ff5959;
  display: flex;
  align-items: center;
}

/* Default logo styles */
.logo {
  margin-left: 120px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .header {
    justify-content: center;
  }

  .logo {
    margin-left: 0;
    width: 150px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}
