.carouselContainer {
  position: relative;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide {
  min-width: 100%;
  height: 100%;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.leftArrow {
  left: 40px;
}

.rightArrow {
  right: 40px;
  transform: translateY(-50%) scaleX(-1);
}

.descriptionContainer {
  position: absolute;
  bottom: 60px;
  right: 120px;
  color: black;
  max-width: 580px;
  font-size: 14px;
  text-align: right;
  transition: opacity 0.5s ease-in-out;
}

.descriptionContainer.fade-out {
  opacity: 0;
}

@media (max-width: 1440px) {
  .carouselContainer,
  .carouselImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .carouselContainer {
    height: 300px;
  }

  .descriptionContainer {
    bottom: 40px;
    right: 40px;
    font-size: 12px;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .arrowButton {
    width: 20px;
    height: 20px;
  }

  .descriptionContainer {
    bottom: 40px;
    right: 40px;
    font-size: 10px;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .carouselContainer {
    max-width: 410px;
    height: 150px;
  }

  .carouselContainer {
    margin-top: 30px;
  }

  .arrowButton {
    width: 20px;
    height: 20px;
  }

  .descriptionContainer {
    bottom: 20px;
    right: 20px;
    font-size: 6px;
    max-width: 150px;
  }

  .leftArrow {
    left: 20px;
  }

  .rightArrow {
    right: 20px;
  }
}
