.banner {
  margin-top: var(--spacing-xl);
  color: var(--color-primary);
}

.bannerContainer {
  position: relative;
  max-width: 1196px;
  height: 560px;
  margin: 0 auto;
}

.backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 480px;
  transform: translate(-50%, -50%);
}

.textContent {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.foregroundImageContainer {
  position: absolute;
  top: 50%;
  left: var(--spacing-xl);
  width: 345px;
  height: 560px;
  transform: translateY(-50%);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .bannerContainer {
    max-width: 90%;
  }

  .backgroundImage {
    height: 400px;
  }

  .foregroundImageContainer {
    left: 40px;
  }

  .textContent {
    bottom: 20px;
    right: 20px;
  }

  .textContent h1 {
    font-size: 28px;
  }

  .textContent p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .backgroundImage {
    height: 400px;
  }

  .foregroundImageContainer {
    width: 345px;
    left: 40px;
  }

  .textContent {
    bottom: 10px;
    right: 10px;
  }

  .textContent h1 {
    font-size: 24px;
  }

  .textContent p {
    font-size: 14px;
  }

  .textContent {
    bottom: 15px;
    right: 15px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .bannerContainer {
    height: 250px;
  }

  .backgroundImage {
    height: 200px;
  }

  .foregroundImageContainer {
    left: 10%;
    width: 155px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foregroundImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .textContent {
    bottom: 15px;
    right: 15px;
    gap: 5px;
  }

  .textContent h1 {
    font-size: 16px;
  }

  .textContent p {
    font-size: 12px;
  }
}
